In [6]:
#Sets: They are the unordered collection of unique elementss

s1 = {1,2}

s1.add(3)

# Strings

In [1]:
movie = "fast and furious"

In [3]:
#capitalize: capitalize characters
movie.capitalize()

'Fast and furious'

In [4]:
#casefold
movie.casefold()

'fast and furious'

In [7]:
#center: 
movie.center(40)

'            fast and furious            '

In [10]:
movie.center(40,'H')

'HHHHHHHHHHHHfast and furiousHHHHHHHHHHHH'

In [13]:
#count: count the occurence of the given character
movie.count('a')

2

In [16]:
#isalnum: To check wherether alphanumeric or not
movie = 'Matrix11'
movie.isalnum()

True

In [39]:
#isalpha
ch0 = 'abc'
print(ch0.isalpha())

#islower
print(ch0.islower())

#isupper
print(ch0.isupper())

#isdigit
ch1 = '1244'
print(ch1.isdigit())

#isnumeric
digits= "12345"
print(digits.isnumeric())

True
True
False
True
True

In [40]:
#encode
s1 = 'hello'
s1.encode() # when no encoding given then it uses UTF-8 by default

b'hello'

In [49]:
#find: To find the index
s1 = "Hello my name is jagmeet"
print(s1.find("is"))

print(s1.index("is"))

#Differnce between index and find: index will throw an error and find will give u -1 if not found.

14
14

In [50]:
#Format
s1 = "In the month of {month_name},I will visit {place}".format(month_name="July",place="2")
s1

'In the month of July,I will visit 2'

In [54]:
#join

t1 = ("morning","afternoon","evening")
t2 = " ".join(t1)
t2

'morning afternoon evening'

In [65]:
#center
print(t2.ljust(115))
t2.rjust(115)

morning afternoon evening

'                                                                                          morning afternoon evening'

In [67]:
#zfill" Fills the remaining length with zeros
acc = "1234"
acc.zfill(12)

'000000001234'

In [75]:
str5 = "welCome to JungLe"
#Title: It capitalize the first character of all the words.
str5.title()

'Welcome To Jungle'

In [76]:
str5.swapcase()

'WELcOME TO jUNGlE'

In [92]:
str5.index("e") 
str5.rindex("e")

16

In [94]:
str5.find("r") # Last occurence
str5.rfind("e") # Last occurence

16

In [96]:
#replace: It replaces the text
str6 = "I am a movie fan"
str6.replace("movie","travelling")

'I am a travelling fan'

# Lists

In [113]:
list1 = ["1a","3a","5ab"]
list1.clear()
list1

[]

In [114]:
#extends: It is used to extend another list after one list
bikes = ["Bike 1","Bike 2","Bike 3"]
car = ["Car1","Car2","Car3"]

bikes.extend(car)
print(bikes)

['Bike 1', 'Bike 2', 'Bike 3', 'Car1', 'Car2', 'Car3']

In [115]:
bikes = bikes+car
bikes

['Bike 1', 'Bike 2', 'Bike 3', 'Car1', 'Car2', 'Car3', 'Car1', 'Car2', 'Car3']

In [116]:
#Sort: This is used for sorting of data
numbers = [10,4,2,1,42,21]
numbers.sort()
numbers

[1, 2, 4, 10, 21, 42]

In [118]:
#insert: Inseting 
numbers.insert(1,"I am here?")
numbers

# numbers.append([1,2,3]) # [1, 2, 4, 10, 21, 42, [1, 2, 3]]

[1, 'I am here?', 2, 4, 10, 21, 42, [1, 2, 3]]

# Dictictinary

In [148]:
d1 = {"k21":"value1","k22":"value2"}
# d1.clear()
# d1

d2 = d1.copy()
d2

{'k21': 'value1', 'k22': 'value2'}

In [149]:
d1 = {}
k = ("k1","k2","k3")
v= 10;
new_dict = d1.fromkeys(k,v) # Default value is None
new_dict

{'k1': 10, 'k2': 10, 'k3': 10}

In [150]:
#get : This is used to get a value of a specified key
print(new_dict["k1"])
new_dict.get("k1")

10

10

In [151]:
new_dict.items()

dict_items([('k1', 10), ('k2', 10), ('k3', 10)])

In [152]:
new_dict.keys()

dict_keys(['k1', 'k2', 'k3'])

In [153]:
new_dict.values()

dict_values([10, 10, 10])

In [159]:
# key value items
if(new_dict.get("k2")!=None):
    new_dict.pop("k2")

None

In [176]:
# setdefault()
new_dict.setdefault("k3","11")
new_dict

{'k1': 10, 'k3': 10, 'k5': '21', 'k2': '21'}

In [178]:
# Current working directory
pwd()

'C:\\Users\\hp1\\Desktop\\Wiley python'

In [182]:
# chan operator
print(1>2>3)
print(1<2<3)

False
True

In [186]:
print(1<2 and 5>6)

False

In [187]:
1==2

False

In [188]:
1!=2

True

In [191]:
#Python statements
if(True):
    print("Hello this is jagmeet")

Hello this is jagmeet

In [193]:
x = False
if x:
    print("Badday")
else:
    print("Goodday")

Goodday

In [199]:
# create a condition if number is even or odd
num = 10
if(num%2==0):
    print("{number} is even".format(number=num))
else:
    print("{number} is odd".format(number=num))

10 is even

In [201]:
num = int(input())
if(num%7==0):
    print("{number} is divisble by 7".format(number=num))

14
14 is divisble by 7

In [206]:
n1 = int(input())
n2 = int(input())
n3 = int(input())
if(n1>n2 and n1>n3):
    if(n2>n3):
        print(n1,n2,n3);
    else:
        print(n1,n3,n2)
elif(n2>n1 and n2>n3):
    if(n1>n3):
        print(n2,n1,n3);
    else:
        print(n2,n3,n1)
else:
    if(n1>n2):
        print(n3,n1,n2);
    else:
        print(n3,n2,n1)

10
2
1
10 2 1

In [207]:
list1 = [1,2,3,4,5]
for i in list1:
    print(i)

1
2
3
4
5

In [211]:
# 1
# 12
# 123
# 1234

# factorial of a number
n = 10
res = 1;
for x in range(10):
    res*=x 
    print(res)

0
0
0
0
0
0
0
0
0
0