In [1]:
#Types of numbers
#Intgers and float(nummeric literal)

12

In [17]:
import math
#addition
print(10+2)

#subtraction
print(10-2)

# Division
print(10/3)

# MAth.floor :- This is gong to round down the quotient 
print(math.floor(10/3))

# modulo:- It gives you reminder
print(10%3)

12
8
3.3333333333333335
3
1

In [19]:
# Varibales
salary = 10000
bonus = 0.1
bonus_amt = salary * bonus
bonus_amt

1000.0

In [12]:
# To check type of variable
type(bonus_amt)

float

In [15]:
# Strings
"The weather's is quite good today"

"The weather's is quite good today"

In [20]:
# /n
print("The today's weather\n is quite good");

The today's weather
 is quite good

In [23]:
str1 = 'Hello world'
print(str1)

# To find the length of string
len(str1)

Hello world

11

In [28]:
#Indexing: start from zero
print(str1[0])
print(str1[1])

H
e

In [29]:
# slicing of strings
str1[:3]

'Hel'

In [35]:
str1[1:]

'ello world'

In [36]:
# Strings are immutable we cannot change the value and it cannot be overwritten
"Hi" *10

'HiHiHiHiHiHiHiHiHiHi'

In [37]:
"Hello"+"Friend"

'HelloFriend'

In [38]:
student = "This is session is for python"

In [39]:
student.upper()

'THIS IS SESSION IS FOR PYTHON'

In [41]:
student.lower()

'this is session is for python'

In [42]:
student.split(" ")

['This', 'is', 'session', 'is', 'for', 'python']

In [43]:
student.split("is")

['Th', ' ', ' session ', ' for python']

In [54]:
#List
list1 = [1,2,"apple","mango"]

In [55]:
list1 =  list1 + ["orange"]
list1

[1, 2, 'apple', 'mango', 'orange']

In [56]:
list1 *3

[1,
 2,
 'apple',
 'mango',
 'orange',
 1,
 2,
 'apple',
 'mango',
 'orange',
 1,
 2,
 'apple',
 'mango',
 'orange']

In [57]:
#basic methods 

#append
list1.append("Berries")
list1

[1, 2, 'apple', 'mango', 'orange', 'Berries']

In [58]:
list1.pop()

'Berries'

In [59]:
list1

[1, 2, 'apple', 'mango', 'orange']

In [60]:
list1.pop(2)

'apple'

In [63]:
list1.reverse()
list1

[1, 2, 'mango', 'orange']

In [65]:
#Nesting of lists

lst1 = [1,2,3,4]
lst2 = [5,6,7]
lst3 = [9,10,11]
lst4 = [12,33,45]

main_lst = [lst1,lst2,lst3,lst4]
main_lst

[[1, 2, 3, 4], [5, 6, 7], [9, 10, 11], [12, 33, 45]]

In [66]:
main_lst[1][1]

6

In [68]:
# Dictinary
first_dict = {
    "key1":'value1',
    "key2":'value2',
    "key3":'value3',
    "key4":'value4'
}

In [69]:
first_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [71]:
first_dict["key1"]

'value1'

In [72]:
first_dict["key2"]

'value2'

In [73]:
first_dict["key3"]

'value3'

In [75]:
second_dict= {
    "movies":["movie1","movie2","movie3"],
    "cricketers":["cricketer1","crickerter2","cricketer3"],
    "destination":["destination1","destination2","destination3"]
}

In [78]:
tp ={'movies':['Black widow', 'F9'],'Cricketers':['Elis pery','Dhoni','Sunil'],'Destination':['Vegas','LA']}
tp['Cricketers'][1] = (tp['Cricketers'][1]).upper()
tp

{'movies': ['Black widow', 'F9'],
 'Cricketers': ['Elis pery', 'DHONI', 'Sunil'],
 'Destination': ['Vegas', 'LA']}

In [81]:
#Empty dictionary

x = {}

x["cars"] = ["octiva","Laura","Rapid"]
x["mobilies"] = ["oppo","MI","VIVO"]
print(x)

{'cars': ['octiva', 'Laura', 'Rapid'], 'mobilies': ['oppo', 'MI', 'VIVO']}

In [82]:
# Nesting in the dictionary

x1 = {"key1":{"nkey1":["v1,v2,v3"]},"key2":["l1","l2","l3"]}

In [85]:
x1

{'key1': {'nkey1': ['v1,v2,v3']}, 'key2': ['l1', 'l2', 'l3']}

In [88]:
x2 = {"key1":[1,23,{"key3":{"value1,value2,{value3:[23,233]}"}} ]}
x2

{'key1': [1, 23, {'key3': {'value1,value2,{value3:[23,233]}'}}]}