In [ ]:
#while loop
x = 1;
while(x<=100):
    if(x%5==0):
        print(x)
    x = x+1;
else:
    print("Excecution done")

In [ ]:
#while loop
x = 1;
while(x<=100):
    if(x%5==0):
        print(X);
else:
    print("Excecution done")

In [ ]:
x = 1;
while(x<=100):
    if(x%5==0):
        print(X);
else:
    print("Excecution done")

In [3]:
# break , continue, pass
a = 6;
res=1;
while(a>=1):
    res = res*a;
    a=a-1;
print(res)

720

In [4]:
# format
str1 = "Wiley Mthree"
i = 0;
for s in str1:
    print("The {} character is {}".format(i,s));
    i=i+1

The 0 character is W
The 1 character is i
The 2 character is l
The 3 character is e
The 4 character is y
The 5 character is
The 6 character is M
The 7 character is t
The 8 character is h
The 9 character is r
The 10 character is e
The 11 character is e

In [7]:
#enumerate
v = "wiley Mthree"
for (index,alpha) in enumerate(v):
    print("The {} character is {}".format(index,alpha));

The 0 character is w
The 1 character is i
The 2 character is l
The 3 character is e
The 4 character is y
The 5 character is
The 6 character is M
The 7 character is t
The 8 character is h
The 9 character is r
The 10 character is e
The 11 character is e

In [8]:
list(enumerate("Wiley Mthree"))

[(0, 'W'),
 (1, 'i'),
 (2, 'l'),
 (3, 'e'),
 (4, 'y'),
 (5, ' '),
 (6, 'M'),
 (7, 't'),
 (8, 'h'),
 (9, 'r'),
 (10, 'e'),
 (11, 'e')]

In [9]:
#Zip: Ti
list1 = [1,2,3,4]
list2 = [4,"dfd","dfjf","12",132]

list(zip(list1,list2))

[(1, 4), (2, 'dfd'), (3, 'dfjf'), (4, '12')]

In [10]:
#in operator
10 in [1,2,3,10]

True

In [12]:
10 not in [1,2,3,4,5,10]

False

In [19]:
# Random Library

# 1.)shuffle
from random import shuffle
list1= [1,2,3,4,5]
shuffle(list1)
list1

[3, 4, 1, 2, 5]

In [26]:
# 2.) randInt
from random import randint
randint(10,20)

19

In [29]:
# List comprehension: Used to create a list

l = [a for a in "Wiley Mthree"]
l

['W', 'i', 'l', 'e', 'y', ' ', 'M', 't', 'h', 'r', 'e', 'e']

In [31]:
l2 = [x**2 for x in [1,2,3]]
l2

[1, 4, 9]

In [34]:
# create a list which has even numbers in range from 1,10
l3 = [x for x in range(1,10) if x%2==0]
l3

[2, 4, 6, 8]

In [40]:
l2 = [i for i in range(1,10)]

l4 = [i for i in l2 if i%2==0]
l4

[2, 4, 6, 8]

In [43]:
# Functions
def first_func():
    print("Fisrt Function")

first_func()

Fisrt Function

In [47]:
def welcome(uname):
    print("Hello {}".format(uname));
    
welcome("Jaz")

Hello Jaz

In [50]:
def welcomes(uname):
    print(f'Hello {uname}')
welcomes("Jazzy")

Hello Jazzy

In [53]:
def num_addition(num1,num2):
    return num1+num2
n = num_addition(12,13)
print(n)

25

In [55]:
num_addition("Hello"," World")

'Hello World'

In [3]:
def even_odd(num):
    return num%2;
print(even_odd(int(input())))

4
0

In [18]:
def even_odd_list(list1):
    for i in list1:
        if(i%2==0):
            return True
    return False
even_odd_list([1,2,3])

True

In [10]:
# [(A,1),(A,2),(A,3)]
def user_input(n):
    list1 = []
    for z in range(n):
        i,j = input(),int(input())
        list1.append((i,j))
    return list1

In [11]:
# [(A,1),(A,2),(A,3)]
def user_input(n):
    list1 = []
    for z in range(n):
        i,j = input(),int(input())
        list1.append((i,j))
    return list1

def Highest_hours(list1):
    max_hr = -1;
    max_hr_Employee = '\u0000'
    for name,hr in list1:
        if(hr>max_hr):
            max_hr = hr
            max_hr_Employee = name
    return max_hr,max_hr_Employee

user_list = user_input(int(input("Enter the number of employee")));
max_hours,max_hour_employee = Highest_hours(user_list)
print(f'Employee {max_hour_employee} works for {max_hours} hours, Which is maximum in comparision to others')

Enter the number of employee2
A
1
B2
2
Employee B2 works for 2 hours, Which is maximum in comparision to others

In [44]:
# create a function ["","A",""],1
from random import shuffle
def After_Shuffle(list1,index):
    if(index<0 or index>=len(list1)):
        return "Out of bound"
    shuffle(list1)
    print(list1)
    if(list1[index]=="A"):
        return "Yes"
    else:
        return "No"

In [45]:
After_Shuffle(["","A",""],int(input()))

2
['A', '', '']

'No'