## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: These are used to numeric value in the variable. They can store integer value or floating point value.

Strings: Strings are immutable, that is we cannot override the value of string. In other words we cannot reassign value of string.

Lists: Lists is based on the concept of sequence which is used to store collection of objects.These are mutable i.e once we create list we can perform changes in that list. 

Tuples: These are also store collection of objects .These are immutable i.e once we create list we cannot perform changes in that list.It is used in case of fixed data requirements.

Dictionaries: These at used to store key value pair and using key we can access the elements. we can have nested Dictionaries eg. we can store list in Dictionaries as value as well.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) - 11
    
    What is the value of the expression 4 * 6 + 5  - 29 as * has more precedence
    
    What is the value of the expression 4 + 6 * 5 -34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [49]:
# 3 + 1.5 + 4 : type is float

What would you use to find a numberâ€™s square root, as well as its square?

In [50]:
# Square root: For finding the square root we can use ** operator which is power of operatorand use power as 2
5**2

25

In [51]:
# Square: For finding the square root we can use ** operator which is power of operatorand use power as 0.5
4**0.5

2.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [52]:
s = 'hello'
# Print out 'e' using indexing

print(s[1])

e

Reverse the string 'hello' using slicing:

In [53]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [54]:
s ='hello'
# Print out the 'o'

# Method 1:

print(s[4])

o

In [55]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [56]:
# Method 1:
list1 = [0,0,0]

In [57]:
# Method 2:
list1 = []
list1.append(0)
list1.append(0)
list1.append(0)
list1

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [58]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [59]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [60]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [61]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])
print(d.get('k1').get('k2'))

hello
hello

In [62]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d.get('k1')[0].get('nest_key')[1])

['hello']

In [63]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
# We can sort the dictionary based on the key.

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>

#### Lists are mutable i.e once we create list we can perform changes in that list and Tuples are immutable i.e once we create list we cannot perform changes in that list once created.List are created used [] where are tuples are created using ()

How do you create a tuple?<br><br>

#### Ans: We can create a tuble using paranthesis. It is used in case of fixed data requirements.This is due to the fact that tuble are immutable.

## Sets

What is unique about a set?<br><br>

#### Ans: Sets are unordered collection of unique elements.Sets are used to store only unique elements and it removes the duplicate elements.

Use a set to find the unique values of the list below:

In [64]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [65]:
# Answer before running cell
2 > 3 # print(False)

False

In [66]:
# Answer before running cell
3 <= 2 #print(False)

False

In [67]:
# Answer before running cell
3 == 2.0 #print(False)

False

In [68]:
# Answer before running cell
3.0 == 3

True

In [69]:
# Answer before running cell
4**0.5 != 2 #print(False) : 2==2

False

Final Question: What is the boolean output of the cell block below?

In [70]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] # 3>=4: print(False)

False