# Python In-class Exercise

### 1. Write a program to check whether an year entered by an user is leap year or not

In [1]:
year=int(input())
if(year%4==0):
    print(year,"is a leap year")
elif(year%100==0):
    print(year,"is not a leap year")
else:
    print("Not a leap year")

ValueError: invalid literal for int() with base 10: ''

### 2. Take a string containing punctuation marks as an input from user and write a program to remove all the  punctuation marks from a string

In [3]:
string = input()
import re
res=re.sub("[^\w\s]"," ",string) # re.sub()
res

Gfg, is best : for ! Geeks ;

'Gfg  is best   for   Geeks  '

### 3. Take two separate numbers as input from the user and Write a program to swap 2 numbers without using temporary variable

In [7]:
a = int(input())
b = int(input())
a,b = b,a
print(a,b)

10
20
20 10

### 4. Write a program to print product of following variables
<br> integer = 10 
<br> string = "15"

In [5]:
a = 10
s = "15"
a*int(s)

150

### 5. Write a program to print following pattern
<br>a
<br>b c
<br>d e f
<br>g h i j
<br>k l m n o
<br>p q r s t u

### 6. Write a program to print tables from 2 to n, where n is provided by user

In [15]:
def table(n):
    for j in range(1,11):
        print(n,"*",j,"=",n*j)

In [16]:
n = int(input())
for i in range(2,n+1):
    print("Table of",i);
    table(i);
    print()

5
Table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

### 7. Write a program to read height (in centimeters) from user and then convert it to feet and inches

In [26]:
import math
def feet(height):
    return round(height/30.48,3)

def inches(height):
    return round(height/2.54,3)

height = int(input("Enter height in cm..."))
feet(height),inches(height)

Enter height in cm...30

(0.984, 11.811)

### 8. Write a program to print following pattern

                                                *
                                                * * 
                                                * * *
                                                * *
                                                *

In [1]:
cst = 1;

for i in range(1,6):
    for j in range(1,cst+1):
        print("*",end=" ")
    if(i<=5/2):
        cst=cst+1
    else:
        cst=cst-1;
    print()

*
* *
* * *
* *
*

### 9. Below list contains age and name of five students. Convert the list into a dictionary such that the name is taken as key and the age before their name is taken as thier respective value in the dictionary

students = [26,'Jon',34,'Roger',13,'Jessica',24,'Monica',65,'Ashton']
Output: {'Jon':26, 'Roger':34, 'Jessica':13, 'Monica':24, 'Ashton':65}

In [13]:
students = [26,'Jon',34,'Roger',13,'Jessica',24,'Monica',65,'Ashton'] 
i=0;
obj = {};

while(i<len(students)-1):
    obj[students[i]] = students[i+1]
    i=i+2;
        
obj

{26: 'Jon', 34: 'Roger', 13: 'Jessica', 24: 'Monica', 65: 'Ashton'}

### 10. Write a program to check whether two strings, taken from user, are anagram or not

In [2]:
str1 = input();
str2 = input();

from collections import Counter
print(Counter(str1)==Counter(str2))

if(sorted(str1)==sorted(str2)):
    print("anagram")
else:
    print("These strings are not anagaram of each other")

dab
bad
True
anagram

### 11. Write a program that sorts all the elements of the list according to the first letter, irrespective of their cases (uppercase or lowercase). Note: Do not use any inbuilt sorting function

In [100]:
list1 = ["bc","def","ghi","Abc"]
sorted(list1)

['Abc', 'bc', 'def', 'ghi']

### 12. Write a program that prints a list of sour fruits from the below tuple:
<br>fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') ) 

<br>**Output**: Sour Fruits: ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

In [6]:
fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') )
Sour=[]
for ele in fruits:
    if(ele[1].lower() == "sour"):
        Sour.append(ele[0]);
Sour

['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

### 13. Given below are the list of positive and negative words. Also a list of tweets is provided. Separate out the positive and negative comments

<br>positive = ['good','awesome', 'best', 'nice']

<br>negative = ['worst','awful', 'bad']

<br>tweets = ['This government policies are good', 
'bad implementation', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', 'The wine tastes awful', 'It's nice to hear this little kid's laugh']

In [27]:
tweets = ['This government policies are good', 'bad implementation', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', 'The wine tastes awful', 'It"s nice to hear this little kids laugh']
postive_tweets = [];
negative_tweets = [];

positive = ['good','awesome', 'best', 'nice'];
negative = ['worst','awful', 'bad'];

for tweet in tweets:
    tw = tweet.split(" ");
    for word in tw:
        if(word in positive):
            postive_tweets.append(tweet);
            break
        elif(word in negative):
            negative_tweets.append(tweet);
            break
        else:
            continue
            
print(negative_tweets)
print(postive_tweets)

['bad implementation', 'The wine tastes awful']
['This government policies are good', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', 'It"s nice to hear this little kids laugh']

### 14. Write a program that performs multiplication of the following two matrix

X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]

In [96]:
X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]
Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]
res= [[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(X)):
    for j in range(len(Y[0])):
        for z in range(len(Y)):
            res[i][j]+=X[i][z]*Y[z][j]
            
res

[[19, 37, 34], [43, 97, 73], [67, 157, 112]]

### 15. Write a program to remove space from keys of the given dictionary

Employee = {'emp 01' : 'Raj', 'emp 02' : 'Sheela', 'emp 0 3 ': 'Joseph'}; 

Output:
<br>New dictionary :  {'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

In [49]:
Employee = {'emp 01' : 'Raj', 'emp 02' : 'Sheela', 'emp 0 3 ': 'Joseph'};

Employee = {k.replace(" ",""):v for k,v in Employee.items()};
Employee

{'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

### 16.  Write a program to display the subjects for which the scores are between 300 and 500 (inclusive) in the given dataframe

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Subject</th>
 <th>Score</th>
 </tr>
 <tr>
 <td>Maths</td>
 <td>345</td>
 </tr>
 <tr>
 <td>Physics</td>
 <td>432</td>
 </tr>
 <tr>
 <td>Chemistry</td>
 <td>456</td>
 </tr>
 <tr>
 <td>Biology</td>
 <td>234</td>
 </tr>
 <tr>
 <td>Geology</td>
 <td>254</td>
 </tr>
    
</table>

### 17. Write a program to find numbers between 10000 to 20000 from a given array

**Use the list given below:**

Sales = [1432,143223,2043332,1642357,54327,754338,12459,75435,224454,1433,12447,25532,86674,74338,12678]

In [76]:
import numpy as np
df = np.array([1432,143223,2043332,1642357,54327,754338,12459,75435,224454,1433,12447,25532,86674,74338,12678])

[i for i in df if(i>=10000 and i<=20000)]

[12459, 12447, 12678]

### 18. Write a program to sort the dataframe by Rank (in ascending order)

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Name</th>
 <th>Rank</th>
 </tr>
 <tr>
 <td>Joy</td>
 <td>115</td>
 </tr>
 <tr>
 <td>Mia</td>
 <td>451</td>
 </tr>
 <tr>
 <td>Karan</td>
 <td>341</td>
 </tr>
 <tr>
 <td>Tom</td>
 <td>84</td>
 </tr>
    
</table>

In [87]:
import pandas as pd
def myfunc(df):
    return df['Rank']
name=["Joy","Mia","Karan","Tom"]
rank=[115,451,341,84]
df=pd.DataFrame(list(zip(name,rank)),columns=["Name","Rank"])
df=df.sort(key=myfunc)
df

AttributeError: 'DataFrame' object has no attribute 'sort'

### 19. Use the data given in the question 18, to do the following:
 Write a program to swap the 1st and 2nd row in a dataframe

### 20. Convert a 1D array to a 2D array containing 2 rows

**Use the array given below:**
    
dim_1 = ([331, 245, 246, 475, 348, 229])

### 21. Find the average cost of each variety of product available in the three different shops

**Use the data given below:**
    
[[10, 20, 30], [17, 14, 21], [25, 15, 12]],
  columns=['product_a', 'product_b', 'product_c'],
  index=['Shop1', 'Shop2', 'Shop3']

### 22. Write a program to delete items from series_a that are present in series_b and print the updated series_a

**Use the series given below:**
    
series_a = ([11, 12, 13, 14, 15])<br>
series_b= ([14, 15, 16, 17, 18])

### 23. Get common elements from the two arrays

**Use the array given below:**<br>
      
      test_a = np.array([11,12,13,22,23,44,43,24,45,36])
      test_b = np.array([17,22,13,22,47,34,39,44,29,28])

In [63]:
test_a = np.array([11,12,13,22,23,44,43,24,45,36])
test_b = np.array([17,22,13,22,47,34,39,44,29,28])

np.array(list(filter(lambda x:x in test_a,test_b)))

array([22, 13, 22, 44])

### 24. Reverse each of the rows of the 2D array

**Use the array given below:**<br>

    num_array = np.arange(20).reshape(4,5)

In [75]:
num_array = np.arange(20).reshape(4,5)
for i in range(num_array.shape[0]):
    num_array[i] = num_array[i][::-1]
    
num_array

(4, 5)

array([[ 4,  3,  2,  1,  0],
       [ 9,  8,  7,  6,  5],
       [14, 13, 12, 11, 10],
       [19, 18, 17, 16, 15]])