In [1]:
#When we work with functions

#The function you created , it will serve the purpose

#You realised that you need to add some more functionalities in that function


#Add those functionalities in the previous

##drawback : You have lost the original function


#Lets copy the precious code and add the new functionalities to it...

#You are creating multiple functions with copy paste of previous

In [2]:
#We use the concept of decorators
#@ symbol is used to create the creators

In [3]:
def func():
    return 100

In [4]:
func()

100

In [5]:
func

In [16]:
def wiley():
    return ("Hello Everyone")

In [7]:
wiley()

Hello Everyone

In [17]:
a= wiley()

b=wiley

In [18]:
a

'Hello Everyone'

In [9]:
a

In [10]:
b

In [11]:
b()

Hello Everyone

In [19]:
del wiley

In [14]:
wiley()

NameError: name 'wiley' is not defined

In [20]:
b()

'Hello Everyone'

In [27]:
def hello(subject="Python"):
    print("The Hello function is getting executed")
    
    def greet():
        return "\t This is a greet function"
    
    def greet2():
        return "\t This is greet 2 function executed"
    
    print(greet())
    print(greet2())

In [28]:
hello()

The Hello function is getting executed
	 This is a greet function
	 This is greet 2 function executed

In [ ]:
#Question: How can i call the greet or greet2 function from the hello function

In [ ]:
x=greet

In [26]:
hello()

The Hello function is getting executed
	 This is a greet function

In [29]:
def hello(subject="Python"):
    print("The Hello function is getting executed")
    
    def greet():
        return "\t This is a greet function"
    
    def greet2():
        return "\t This is greet 2 function executed"
    
    if subject=="Python":
        return greet
    else:
        return greet2

In [30]:
x= hello()

The Hello function is getting executed

In [31]:
x

In [32]:
x()

'\t This is a greet function'

In [33]:
#Pull the greet2

y=hello(subject="SQL")

The Hello function is getting executed

In [34]:
y

In [35]:
y()

'\t This is greet 2 function executed'

In [36]:
def func1():
    
    def func2():
        return "I am function 2"
    return func2

In [37]:
newfunc=func1()

In [38]:
newfunc

In [39]:
newfunc()

'I am function 2'

In [40]:
a = 10

In [41]:
b=a

In [42]:
b

10

In [43]:
del a

In [44]:
b

10

In [45]:
def hello():
    return "Hello Everyone"

In [46]:

def other(some_func):
    print("The code of OTHER function is here")
    print(some_func())

In [51]:
other(hello)

The code of OTHER function is here
Hello Everyone

In [48]:
hello

In [49]:
hello()

'Hello Everyone'

In [52]:
def new_decorotor(original_func):
    
    def wrap_func():
        
        print("Some code of lines...........")
        original_func()
        print("Some other lines..............")
        
    return wrap_func

In [53]:
def func_using_decorator():
    print("I will be in the decoraotor")

In [54]:
func_using_decorator()

I will be in the decoraotor

In [56]:
a= new_decorotor(func_using_decorator)

In [57]:
a

In [58]:
a()

Some code of lines...........
I will be in the decoraotor
Some other lines..............

In [63]:
@new_decorotor
def func_using_decorator():
    print("I will be in the decoraotor")

In [64]:
func_using_decorator()

Some code of lines...........
I will be in the decoraotor
Some other lines..............

In [ ]:
#Modules #Packages #library

In [ ]:
#Functions


#Multiple Functions of same type

#Module is a collection of function

In [65]:

#Multiple modules together are called as a package

#Multiple packages are stored in a library

In [ ]:
#math Module

In [66]:
import math

In [67]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [68]:
x= 10.5

In [69]:
math.floor(x)

10

In [70]:
math.ceil(x)

11

In [71]:
from math import pi

In [72]:
pi

3.141592653589793

In [73]:
math.e

2.718281828459045

In [74]:
#Numpy

In [ ]:
#pandas

In [75]:
math.radians(180)

3.141592653589793

In [76]:
import random

In [77]:
#This gives us the geatures to generate the random numbers

In [82]:
random.randint(1,10)

9

In [83]:
list1=list(range(0,50))

In [84]:
list1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [87]:
random.choice(list1)

9

In [88]:
#Random Sample 

#Sampling of the data is done in two ways
#Sampling with repolacement
#Sampling without replacement

In [90]:
#Sampling with replacement

random.choices(population=list1, k=10)

[19, 19, 15, 41, 18, 39, 22, 3, 48, 41]

In [91]:
#Sampling without replacement:

random.sample(population=list1, k=10)

[24, 44, 29, 1, 23, 41, 33, 27, 21, 6]

In [92]:
#Shuffle function

random.shuffle(list1)

In [93]:
list1

[47,
 2,
 40,
 8,
 31,
 17,
 19,
 18,
 44,
 49,
 36,
 37,
 0,
 11,
 32,
 24,
 5,
 16,
 26,
 1,
 42,
 10,
 4,
 41,
 20,
 46,
 6,
 15,
 27,
 38,
 23,
 21,
 13,
 9,
 28,
 33,
 3,
 14,
 43,
 7,
 45,
 48,
 22,
 35,
 39,
 34,
 12,
 25,
 29,
 30]

In [94]:
#Python Debugger

In [ ]:
#This debugger is used to track down any error that you may have

In [95]:
x=[1,2,3]
y=5
z=10

In [96]:
sum1= y+z
sum2=x+ y

TypeError: can only concatenate list (not "int") to list

In [3]:
import pdb #python debugger

In [ ]:


a=[1,2,3]
b=5
c=10

sum1= b+c
pdb.set_trace()

sum2=a+ b

--Return--
> <ipython-input-4-4c6718a3fc77>(6)<module>()->None
-> pdb.set_trace()
(Pdb) a
(Pdb) b
(Pdb) b+c
*** The specified object '+c' is not a function or was not found along sys.path.

In [1]:
pwd

'C:\\Users\\garim'

pwd

In [ ]:
#Data Science

#Analytics
#BI
#Data Engineering
#Data Scientis
#Data Analysis

In [ ]:
#Data Analytics

1. Descriptive Analytics:Describe What happened
    MySQL , Tableau, Power BI 
    Reports and Dashboards
2. Diagnostic Analytics: Why did it happened
    #Functional undertanding
    Ex. On pepsi I am giving 20% discount
    Pepsi was sold higher than coke
    Pepsi ate away the sales of coke
    #Cannibilisation
    
    #Weekly offers
    
    #there are two offeers
    1 +1 
    50% offer
3. Predictive Analytics:
    Stats, Maths
    R, Python, SAS, SPSS, Matlab

4.  Prescriptive Analytics :
    Optimising the solutionss
    How can we make the things happen
    Stats, Python, R etc

In [ ]:
#Numpy:

#This is a linear Algebra library

In [1]:
import numpy as np

In [ ]:
#NumPy Arrays: Vectors and Matrices

Vectors: 1 D array
Matrices : 2 D Array

In [ ]:
#to create arrays we have function with name arrays

In [2]:
list1=[1,2,3,4,5]

In [3]:
np.array(list1)

array([1, 2, 3, 4, 5])

In [4]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [5]:
np.array(matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
#Methods
#arange

np.arange(5,15)

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [7]:
np.arange(5,15,2)

array([ 5,  7,  9, 11, 13])

In [9]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [10]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [11]:
#Identity matrix

np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [12]:
np.random.rand(2)

array([0.65878316, 0.13705562])

In [13]:
np.random.randint(1,100)

4

In [14]:
#Indexing


arr=np.arange(0,20)

In [15]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [16]:
arr[0]

0

In [17]:
arr[5]

5

In [18]:
arr[1:5]

array([1, 2, 3, 4])

In [19]:
arr[1:6]

array([1, 2, 3, 4, 5])

In [20]:
#Broadcasting

arr[1:6]=500

In [21]:
arr

array([  0, 500, 500, 500, 500, 500,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19])

In [22]:
matrix=np.array(([1,2,3],[4,5,6],[7,8,9]))

In [23]:
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [24]:
matrix[1]

array([4, 5, 6])

In [25]:
matrix[2]

array([7, 8, 9])

In [26]:
#Format arr[row][col] or arr[r,c]

In [27]:
matrix[0,0]

1

In [28]:
matrix[2,2]

9

In [29]:
matrix[:,1]

array([2, 5, 8])

In [30]:
arr

array([  0, 500, 500, 500, 500, 500,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19])

In [31]:
#operations 
arr+arr

array([   0, 1000, 1000, 1000, 1000, 1000,   12,   14,   16,   18,   20,
         22,   24,   26,   28,   30,   32,   34,   36,   38])

In [32]:
5*arr

array([   0, 2500, 2500, 2500, 2500, 2500,   30,   35,   40,   45,   50,
         55,   60,   65,   70,   75,   80,   85,   90,   95])

In [33]:
1/arr

C:\Users\garim\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([       inf, 0.002     , 0.002     , 0.002     , 0.002     ,
       0.002     , 0.16666667, 0.14285714, 0.125     , 0.11111111,
       0.1       , 0.09090909, 0.08333333, 0.07692308, 0.07142857,
       0.06666667, 0.0625    , 0.05882353, 0.05555556, 0.05263158])

In [34]:
arr.max()

500

In [35]:
arr.min()

0

In [36]:
#Pandas 

import pandas as pd

In [38]:
#Series
list1= [20,30,40]

In [39]:
list1

[20, 30, 40]

In [40]:
pd.Series(list1)

0    20
1    30
2    40
dtype: int64

In [42]:
ser1= pd.Series(list1, index=["Wt1","Wt2","Wt3"])

In [43]:
ser1[0]

20

In [44]:
ser1["Wt1"]

20

In [46]:
#Data Frames:
from numpy.random import randn
#Tables in SQL

In [49]:



df= pd.DataFrame(randn(5,4), index="Wt1 Wt2 Wt3 Wt4 Wt5".split(), columns="A B C D".split())

In [50]:
df

            A         B         C         D
Wt1 -0.334205  0.301118  0.659620  0.464013
Wt2 -0.652232 -0.127585  0.283969 -0.731536
Wt3  0.624300  1.345620 -0.658231 -1.430669
Wt4  0.492677  0.860381 -1.794261  1.306604
Wt5 -0.023809  0.230370 -1.833337  0.973948

In [51]:
df["A"]

Wt1   -0.334205
Wt2   -0.652232
Wt3    0.624300
Wt4    0.492677
Wt5   -0.023809
Name: A, dtype: float64

In [52]:
df[["A","C"]]

            A         C
Wt1 -0.334205  0.659620
Wt2 -0.652232  0.283969
Wt3  0.624300 -0.658231
Wt4  0.492677 -1.794261
Wt5 -0.023809 -1.833337

In [ ]:
#random normal ditribution
#

In [53]:
df.A

Wt1   -0.334205
Wt2   -0.652232
Wt3    0.624300
Wt4    0.492677
Wt5   -0.023809
Name: A, dtype: float64

In [55]:
#Generate Rows:

df.loc["Wt1"]

A   -0.334205
B    0.301118
C    0.659620
D    0.464013
Name: Wt1, dtype: float64

In [56]:
df.iloc[2]

A    0.624300
B    1.345620
C   -0.658231
D   -1.430669
Name: Wt3, dtype: float64

In [57]:
df

            A         B         C         D
Wt1 -0.334205  0.301118  0.659620  0.464013
Wt2 -0.652232 -0.127585  0.283969 -0.731536
Wt3  0.624300  1.345620 -0.658231 -1.430669
Wt4  0.492677  0.860381 -1.794261  1.306604
Wt5 -0.023809  0.230370 -1.833337  0.973948

In [58]:
df.loc["Wt1","A"]

-0.33420542833641853

In [59]:
df.loc[["Wt1","Wt2","Wt3"],["C","D"]]

            C         D
Wt1  0.659620  0.464013
Wt2  0.283969 -0.731536
Wt3 -0.658231 -1.430669

In [60]:
df>0

         A      B      C      D
Wt1  False   True   True   True
Wt2  False  False   True  False
Wt3   True   True  False  False
Wt4   True   True  False   True
Wt5  False   True  False   True

In [61]:
df[df>0]

            A         B         C         D
Wt1       NaN  0.301118  0.659620  0.464013
Wt2       NaN       NaN  0.283969       NaN
Wt3  0.624300  1.345620       NaN       NaN
Wt4  0.492677  0.860381       NaN  1.306604
Wt5       NaN  0.230370       NaN  0.973948

In [62]:
df

            A         B         C         D
Wt1 -0.334205  0.301118  0.659620  0.464013
Wt2 -0.652232 -0.127585  0.283969 -0.731536
Wt3  0.624300  1.345620 -0.658231 -1.430669
Wt4  0.492677  0.860381 -1.794261  1.306604
Wt5 -0.023809  0.230370 -1.833337  0.973948

In [63]:
df.reset_index()

  index         A         B         C         D
0   Wt1 -0.334205  0.301118  0.659620  0.464013
1   Wt2 -0.652232 -0.127585  0.283969 -0.731536
2   Wt3  0.624300  1.345620 -0.658231 -1.430669
3   Wt4  0.492677  0.860381 -1.794261  1.306604
4   Wt5 -0.023809  0.230370 -1.833337  0.973948

In [64]:
df["E"]= df["C"]+df["D"]

In [65]:
df

            A         B         C         D         E
Wt1 -0.334205  0.301118  0.659620  0.464013  1.123633
Wt2 -0.652232 -0.127585  0.283969 -0.731536 -0.447568
Wt3  0.624300  1.345620 -0.658231 -1.430669 -2.088900
Wt4  0.492677  0.860381 -1.794261  1.306604 -0.487657
Wt5 -0.023809  0.230370 -1.833337  0.973948 -0.859389

In [66]:
df["Names"]= "Stu1 Stu2 Stu3 Stu4 Stu5".split()

In [67]:
df

            A         B         C         D         E Names
Wt1 -0.334205  0.301118  0.659620  0.464013  1.123633  Stu1
Wt2 -0.652232 -0.127585  0.283969 -0.731536 -0.447568  Stu2
Wt3  0.624300  1.345620 -0.658231 -1.430669 -2.088900  Stu3
Wt4  0.492677  0.860381 -1.794261  1.306604 -0.487657  Stu4
Wt5 -0.023809  0.230370 -1.833337  0.973948 -0.859389  Stu5

In [71]:
df=df[["Names", "A","B", "C","D","E"]]

In [72]:
df

    Names         A         B         C         D         E
Wt1  Stu1 -0.334205  0.301118  0.659620  0.464013  1.123633
Wt2  Stu2 -0.652232 -0.127585  0.283969 -0.731536 -0.447568
Wt3  Stu3  0.624300  1.345620 -0.658231 -1.430669 -2.088900
Wt4  Stu4  0.492677  0.860381 -1.794261  1.306604 -0.487657
Wt5  Stu5 -0.023809  0.230370 -1.833337  0.973948 -0.859389

In [74]:
startup= pd.read_csv("D:\\Sony\\50_Startups (1).csv")

In [75]:
startup

,R&D Spend,Administration,Marketing Spend,Profit,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,165349.20,136897.80,471784.10,192261.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,162597.70,151377.59,443898.53,191792.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,153441.51,101145.55,407934.54,191050.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,144372.41,118671.85,383199.62,182901.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,142107.34,91391.77,366168.42,166187.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,131876.90,99814.71,362861.36,156991.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,134615.46,147198.87,127716.82,156122.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,130298.13,145530.06,323876.68,155752.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,120542.52,148718.95,311613.29,152211.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,123334.88,108679.17,304981.62,149759.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,101913.08,110594.11,229160.95,146121.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,100671.96,91790.61,249744.55,144259.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,93863.75,127320.38,249839.44,141585.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,91992.39,135495.07,252664.93,134307.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,119943.24,156547.42,256512.92,132602.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,114523.61,122616.84,261776.23,129917.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,78013.11,121597.55,264346.06,126992.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,94657.16,145077.58,282574.31,125370.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,91749.16,114175.79,294919.57,124266.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,86419.70,153514.11,0.00,122776.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,76253.86,113867.30,298664.47,118474.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,78389.47,153773.43,299737.29,111313.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,73994.56,122782.75,303319.26,110352.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,67532.53,105751.03,304768.73,108733.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,77044.01,99281.34,140574.81,108552.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,64664.71,139553.16,137962.62,107404.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,75328.87,144135.98,134050.07,105733.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,72107.60,127864.55,353183.81,105008.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,66051.52,182645.56,118148.20,103282.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,65605.48,153032.06,107138.38,101004.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUMMARY OUTPUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,61994.48,115641.28,91131.24,99937.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,61136.38,152701.92,88218.23,97483.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Regression Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,63408.86,129219.61,46085.25,97427.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Multiple R,0.975062046,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,55493.95,103057.49,214634.81,96778.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R Square,0.950745994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,46426.07,157693.92,210797.67,96712.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adjusted R Square,0.947533776,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,46014.02,85047.44,205517.64,96479.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard Error,9232.334837,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,28663.76,127056.21,201126.82,90708.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Observations,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,44069.95,51283.14,197029.42,89949.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,20229.59,65947.93,185265.10,81229.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ANOVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,38558.51,82982.09,174999.30,81005.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,df,SS,MS,F,Significance F,NaN,NaN,NaN
40,28754.33,118546.05,172795.67,78239.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Regression,3,75683964196,25227988065,295.9780624,4.52851E-30,NaN,NaN,NaN
41,27892.92,84710.77,164470.71,77798.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Residual,46,3920856301,85236006.54,NaN,NaN,NaN,NaN,NaN
42,23640.93,96189.63,148001.11,71498.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,49,79604820497,NaN,NaN,NaN,NaN,NaN,NaN
43,15505.73,127382.30,35534.17,69758.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,22177.74,154806.14,28334.72,65200.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coefficients,Standard Error,t Stat,P-value,Lower 95%,Upper 95%,Lower 95.0%,Upper 95.0%
45,1000.23,124153.04,1903.93,64926.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Intercept,50122.19299,6572.352622,7.626217867,1.05738E-09,36892.73332,63351.65266,36892.73332,63351.65266
46,1315.46,115816.21,297114.46,49490.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R&D Spend,0.80571505,0.04514727,17.84637376,2.63497E-22,0.714838309,0.89659179,0.714838309,0.89659179
47,0.00,135426.92,0.00,42559.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Administration,-0.026815968,0.05102878,-0.525506752,0.601755108,-0.129531575,0.075899638,-0.129531575,0.075899638
48,542.05,51743.15,0.00,35673.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marketing Spend,0.027228065,0.016451235,1.6550773,0.104716819,-0.005886553,0.060342682,-0.005886553,0.060342682
49,0.00,116983.80,45173.06,14681.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN